*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(imagens/Beautiful-nature-landscape-lake-mountains-trees-village-blue-sky-white-clouds_2560x1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.781);
}

form > h1{
    margin-bottom: 10px;
}

input{
    width: 200px;
    height: 20px;
    border: none;
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;
    border:2px solid black;
}

button{
    padding: 10px;
    margin: auto;
    width: 250px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}